/* Default styles for all screens */
.banner {
  background-image: url("https://s3-alpha-sig.figma.com/img/756e/302b/7d56a759ac56bc165f65c40094aba4e8?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Q6useyj0ig1wVxM~s0jDCaeWKiEaOval7f-0wn7oX2H8s-uFrypb9kN2kyJIYHMMLriW0va2MG~CXgaWkQICZxx8uLynys1yLvJOQUbgp8VJocLeW8sgtXQe0w~SnB-JWyCDA~nlmVKAq4i7JtiV73O1SjMwedPpWhaGYYqaTnC0pOzm1nKfR6b2z~KiA236lpCjLTvUmW6VrKdGLaC3C4KYmY9HESak~varsI142PxvdjWhTgn2JzfkYR6Otspwel3rCzcIN3UWBDKPOkTX5h2lC0t7oELKiuQwpQ8V8-eIXOx6uByku2ollt~wqxm2BxfQ6qNK-Uf-FU7cDeqn4w__");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  height: 440px;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: -1;
}

.banner-content {
  position: absolute;
  top: 350px;
  left: 200px;
  transform: translateY(-50%);
  color: #ffffff;
  max-width: 50%;
  padding: 2rem;
}

.banner-content span {
  font-size: 36px;
  line-height: 46.8px;
}

.banner-content p {
  font-size: 18px;
  line-height: 23.4px;
  margin-top: 10px;
}

/* Styles for extra-small screens (xs) */

@media (max-width: 768px) {
  .banner-content span {
    font-size: 16px;
    line-height: 11px;
    margin-bottom: 10px;
    margin-left: -200px;
  }

  .banner-content p {
    font-size: 15px;
    line-height: 10px;
    margin-bottom: 10px;
    margin-left: -200px;
  }
}

@media (max-width: 480px) {
  .banner-content span {
    font-size: 16px;

    line-height: 11px;
    margin-bottom: 10px;
    margin-left: -200px;
  }

  .banner-content p {
    font-size: 11px;

    line-height: 10px;
  }
}
/* Hide by default */
/* Default styles */
.modal-dialog {
  max-width: 736px;
}

.modal-content {
  box-shadow: 0px 8px 24px 0px #00000040;
}

.loginCard {
  max-width: 400px;
  margin: 0 auto;
}

/* Styles for small screens */
@media (max-width: 575.98px) {
  .modal-dialog {
    margin: 0;
    max-width: 100%;
  }

  .modal-content {
    border-radius: 0;
    box-shadow: none;
  }

  .loginCard {
    max-width: 100%;
    padding: 10px;
  }

  .form-control,
  .btn {
    font-size: 12px;
  }
}

/* Styles for medium screens */
@media (min-width: 576px) and (max-width: 767.98px) {
  .modal-dialog {
    max-width: 80%;
  }

  .loginCard {
    max-width: 100%;
    padding: 15px;
  }
}

/* Additional styles */
