@media (max-width: 768px) {
  .card-location {
    display: none;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  background: linear-gradient(180deg, #ff5c5c 0%, #f0568a 100%);
  box-shadow: 0px 0px 2px 0px #00000014;
  box-shadow: 0px 2px 4px 0px #0000002e;
  position: fixed;

  padding: 10px;
  bottom: 10px;
  right: 30px;
}

.logo .icon {
  font-size: 24px;
  color: #dadada;
  position: sticky;
}
/* Hide the navbar div by default */
.navbar-div {
  display: none;
}

/* Show the navbar div on large devices */
@media (min-width: 800px) {
  .navbar-div {
    display: block;
  }
}

